.cover__link {
  background: url(../../../images/cover/cover-trains.jpg) center center / cover no-repeat;
  color: #fff;
  display: block;
  padding: 245px 0;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.cover__link::before {
  background-color: rgba(42, 44, 47, .3);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s;
  width: 100%;
  z-index: -1;
}

.cover__link:hover::before {
  background-color: rgba(42, 44, 47, .8);
}

@media (max-width: 1024px) {
  .cover__link {
    padding: 195px 0;
  }
}

@media (max-width: 768px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media (max-width: 425px) {
  .cover__link {
    padding: 33px 0;
  }
}
